*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #FFE4D6 10%, #FACBEA 100%);

    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;

}
div.mainhdng{
    font-size: 1.6rem;

    
}
@keyframes mnhding {

    
}
main{
    margin-left: 230px;
    display: grid;
    height: auto;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px;
    justify-content: center;
    
    
}
h1.flute{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    
    

}
h1.flute:hover{
    background-image: url("https://plus.unsplash.com/premium_photo-1676111266245-7c8822d29a24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: contain;
    border-radius: 25px;
    height: 160px;
    width: 200px;
    transition: 0.4s ease-in-out;
}
h1.drums{
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}
h1.violene{
    display: flex;
    justify-content: center;
    
    margin: 30px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}
h1.guitar{
    
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}
h1.piano{
    
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}
h1.tabala{
    
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.346);
    background-color: #4158D0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    
}