*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #FFE4D6 10%, #FACBEA 100%);
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px;
}
div.mainhdng{
    font-size: 1.6rem;
    color: #c4168a;
}
div.mainhdng:hover{
    color: #9a2272;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
h1.flute{
    height: 200px;
    width: 200px;
}
h1.violene{
    height: 200px;
    width: 200px;
}
h1.guitar{
    height: 200px;
    width: 200px;
}
h1.piano{
    height: 200px;
    width: 200px;
}
videoh1.tabala{
    height: 200px;
    width: 200px;
}